

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

.popup{
  display:block;
}
@media screen and (min-width: 768px) {
  .popup{
    display:none;
    
  }
  
}
.products-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 82vh;
  width:100%;
  padding:10px;
  background-color: #f4f4f4;
  border:5px solid rgb(139, 236, 139);
}
@media screen and (min-width: 768px) {
  .products-bg-container {
    width:90vw;
    border: none;
    flex-direction: row;
    align-items: flex-start;
  }
  
}

.filters-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-left:5%;
  max-height:80vh;
}
@media screen and (max-width: 767px) {
  .filters-container {
    display:none;
  }
  
}

.products-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  width:60vw;
  height:68vh;
}
@media screen and (max-width: 767px) {
  .products-container {
    width: 70vw;
    height: 60vh;
   
    margin-top: 10px;
  }
}

.search-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px;
}


.search-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-btn {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-btn:hover {
  background-color: #6366f1;
}

@media screen and (max-width: 767px) {
  .search-container {
    width:90%;
    height:30px;
    
  }
  .search-btn {
    width: 80px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
  }
  .search-input {
    height: 30px;
    font-size: 14px;
    padding: 5px;
  }

  
}

.products-list2 {
  display: flex;
  flex-wrap: wrap;

  overflow-y: auto;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.product-item2 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  transition: box-shadow 0.3s ease;
  flex-grow: 1;
}

.product-item2:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.product-image2 {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-title2 {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

.product-rating-con2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  width:80%;
}


.product-rating2 {
  font-size: 12px;
  font-weight: bold;
  color: green;
  margin-bottom:10px;
}

@media screen and (max-width: 767px) {
  .product-image2 {
    height: 150px;
  }
  .product-title2 {
    font-size: 10px;
  }
  .product-rating2 {
    font-size: 10px;
  }
  .product-rating-con2 {
    flex-direction: column;
  }
  
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.fail-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.fail-img {
  width: 200px;
  margin-bottom: 20px;
}

.fail-h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.fail-p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.profile-btn {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.profile-btn:hover {
  background-color: #6366f1;
}

.no-products {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
  text-align: center;
}
.item-link{
  font-size:14px;
  margin-top:10px;
}
@media screen and (max-width: 767px) {
  .item-link{
    font-size:12px;
  } 
  
}


.product-header {
  display: flex;
  flex-direction: column;
 
  align-items: center;
  margin-top: 10px;
  width:100%;
  background-color: #f4f4f4;

}


@media screen and (min-width: 768px) {
  .product-header {
    margin-top: 0px;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    padding:10px;
    margin-left:0px;
  }
}

.products-list-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-list-heading {
    font-size: 32px;
  }
}

.sort-by-container {
  display: flex;
  align-items: center;
  margin-left:0px;
}
@media screen and (max-width: 767px) {
  .sort-by-container {
    margin-left: 5%;
    margin-top:10px;
    height:30px;
  }
  
}

.sort-by-icon {
  font-size: 24px;
  color: #475569;
  margin-right: 6px;
}

.sort-by {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
}

.sort-by-select {
  color: #475569;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 12px;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .sort-by-select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 5px;
  }
  
}

.select-option {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
}
.products-con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}