.product-details-container {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-container {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 48px;
    }
  }
  
  .product-details-success-view {
    width: 100%;
    max-width: 550px;
    padding:20px;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-success-view {
      width: 70%;
      max-width:90%;

    }
  }
  
  .product-details-main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-main-container {
      margin-top: 64px;
    }
  }
  
  .product-details-image {
    border-radius: 16px;
    flex-shrink: 0;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-image {
      width: 48%;
      max-width: 540px;
      max-height: 576px;
    }
  }
  
  .product-details-info {
    width: 48%;
  }
  
  .product-details-title {
    color: #3e4c59;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-title {
      font-size: 48px;
      margin-top: 0px;
    }
  }
  
  .product-details-price {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  
  .product-details-rating-reviews {
    display: flex;
    align-items: center;
  }
  
  .product-details-rating {
    display: flex;
    align-items: center;
  }
  
  .product-details-rating-value {
    color: #12022f;
    font-family: 'Open Sans';
    font-size: 14px;
    margin-right: 8px;
  }
  
  .product-details-star {
    width: 16px;
    height: 16px;
    color:red;
  }
  
  .product-details-reviews {
    color: #12022f;
    font-family: 'Open Sans';
    font-size: 14px;
    margin-left: 12px;
  }
  
  .product-details-description {
    color: #616e7c;
    font-family: 'Roboto';
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.3;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-description {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }
  
  .product-details-label-value {
    display: flex;
    margin-bottom: 16px;
  }
  
  .product-details-label {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-label {
      font-size: 18px;
    }
  }
  
  .product-details-value {
    color: #616e7c;
    font-family: 'Roboto';
    font-size: 16px;
    margin-top: 0;
    margin-left: 8px;
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-value {
      font-size: 18px;
    }
  }
  
  .product-details-line {
    border-top: 1px solid #cbced2;
    margin-bottom: 10px;
  }
  
  .product-details-quantity-container {
    display: flex;
    align-items: center;
    margin-left:15px;
  }
  
  .product-details-quantity-btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .product-details-quantity-icon {
    color: #616e7c;
    width: 16px;
    height: 16px;
  }
  
  .product-details-quantity {
    color: #616e7c;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-quantity {
      font-size: 24px;
    }
  }
  
  .product-details-add-to-cart-btn {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    background-color: #3b82f6;
    border: none;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    cursor: pointer;
    margin-top:10px;
    margin-left:0px;
  }
  
  .product-details-error-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .product-details-error-image {
    width: 300px;
    height: 165px;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-error-image {
      width: 540px;
      height: 290px;
    }
  }
  
  .product-details-not-found-heading {
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 500;
    margin-top: 48px;
  }
  
  @media screen and (min-width: 768px) {
    .product-details-not-found-heading {
      font-size: 48px;
    }
  }
  
  .product-details-continue-shopping-btn {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    background-color: #3b82f6;
    border: none;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    cursor: pointer;
  }